-#%h2 Custom action loaded and active
-#=@abstract_model.inspect
-#=@object.inspect
-#:url => crop_path(:model_name => @abstract_model.to_param, :id => @object.id)
= simple_form_for(@object, url: multiple_upload_path(:model_name => @abstract_model.to_param, :id => @object.id), method: :post, html: { multipart: true }) do |f|
  = f.input :album_id, :as => :hidden, :input_html => { :name => "album_id", :value => @object.id }
  = file_field_tag('album_photos_file', multiple: true, name: "album[photos_attributes][][file]")
  %br
  %br
  = f.submit :submit, value: 'Upload', name: 'Upload', :class => 'btn btn-primary'
